:root {
  --header-height: 2.5rem;
  --color-left-bg: #f8f9fa;
  --color-center-bg: #f8f9fa;
  --color-right-bg: #1e1e1e;
  --color-right-text: #888;
}

.editor-wrapper {
  display: grid;
  grid-template-columns: fit-content(15%) 1fr 20%;
  height: 100vh;
  scrollbar-gutter: stable;
}

.section-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.section-link:hover {
  background: #e9ecef;
}

.section-link.active {
  background: #0d6efd;
  color: white;
}

.section-checkbox {
  margin-right: 12px;
  transform: scale(1.2);
}

pre {
  font-size: 12px;
  margin: 0;
  color: #9cdcfe;
  white-space: pre-wrap;
  word-break: break-all;
}

.well {
  background: #fff;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.modal-header {
  display: none;
}
.jedi-info-button span {
  display: none;
}
.admonition {
  --admonition-color: rgba(68, 138, 255);
  --admonition-bg: rgba(68, 137, 255, 0.1);
  --admonition-icon: url('./assets/myTheme/icons/SVG/important.svg');
  border: 0.075rem solid var(--admonition-color);
  border-radius: 0.2rem;
  box-shadow:
    0 0.2rem 0.5rem rgba(0, 0, 0, 0.05),
    0 0 0.05rem var(--admonition-color);
  margin: 0 0 1rem 0;
  padding: 0 0.6rem;
  overflow: hidden;
}

.admonition-title {
  background-color: var(--admonition-bg);
  padding: 0.6rem 0.6rem 0.6rem 2.4rem;
  position: relative;
  margin: 0 -0.6rem;
  font-weight: 700;
}
.admonition-title::before {
  content: '';
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;

  -webkit-mask-image: var(--admonition-icon);
  mask-image: var(--admonition-icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--admonition-color);
}
.admonition:not(:has(.admonition-title)) {
  padding: 0.6rem;
}
.admonition:not(:has(.admonition-title)) p:first-of-type::before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  -webkit-mask: var(--admonition-icon) no-repeat center / contain;
  mask: var(--admonition-icon) no-repeat center / contain;
  background-color: var(--admonition-color);
  filter: contrast(2) brightness(1.1);
}

.admonition.failure {
  --admonition-color: #ff5252;
  --admonition-bg: rgba(255, 82, 82, 0.1);
}

.admonition.question {
  --admonition-color: #4caf50;
  --admonition-bg: rgba(76, 175, 80, 0.1);
}
.admonition > *:last-child {
  margin-bottom: 0.5rem 0;
}

.card {
  --bs-card-spacer-x: 0.5rem;
  --bs-card-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  box-shadow: inset 0px 5px 7px 2px rgba(0, 0, 0, 0.05);
}
.jedi-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.my-icon-info {
  background-color: #0d6efd;
  height: 0.6rem;
  width: 0.6rem;
  margin-bottom: 0.5rem;
}

.column-left,
.column-center,
.column-right {
  overflow-y: auto;
  min-height: 0;
  scrollbar-gutter: stable;
  padding: 0;
}

.column-left > *,
.column-center > *,
.column-right > * {
  padding: 0.5rem;
}

.column-left,
.column-left .column-header {
  background: var(--color-left-bg);
}

.column-center,
.column-center .column-header {
  background: var(--color-center-bg);
}

.column-right,
.column-right .column-header {
  background: var(--color-right-bg);
}

.column-right .column-header {
  color: var(--color-right-text);
}

.column-header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: var(--header-height);
  padding: 0.5rem;
  font-weight: 600;
}

.preview-buttons {
  position: sticky;
  top: var(--header-height);
  z-index: 2;
  background: var(--color-right-bg);
  display: flex;
  justify-content: space-evenly;
  font-size: small;
}

.preview-buttons button {
  background-color: transparent;
  box-shadow: 0px 0px 15px 0px rgba(206, 202, 202, 0.2);
  border: 0;
  border-radius: 2px;
  border-color: #444;
  color: #888;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  min-width: 9.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.preview-buttons button:hover {
  background: #333;
  color: #fff;
  border-color: #666;
}

.preview-buttons button.success {
  animation: fadeBack 2.5s forwards ease-out;
}
@keyframes fadeBack {
  0% {
    background: #54c454;
    color: white;
    border-color: #198754;
    box-shadow: 0px 0px 15px 5px #54c45481;
  }
  100% {
    background: transparent;
    color: #888;
    border-color: #444;
    box-shadow: 0px 0px 15px 0px rgba(206, 202, 202, 0.2);
  }
}

#options {
  display: flex;
  gap: 1rem;
}

#options .btn {
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-width: 0;
}

.bi {
  font-size: 1rem;
}

.modal-body > pre {
  color: #d63384;
}

#editor-layers {
  background: white;
  min-height: 90%;
}
