.my-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125rem;

  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}

.my-icon-properties {
  -webkit-mask-image: url('./SVG/menu.svg');
  mask-image: url('./SVG/menu.svg');
}
.my-icon-delete {
  -webkit-mask-image: url('./SVG/cup.svg');
  mask-image: url('./SVG/cup.svg');
}
.my-icon-add {
  -webkit-mask-image: url('./SVG/plus.svg');
  mask-image: url('./SVG/plus.svg');
}
.my-icon-moveUp {
  -webkit-mask-image: url('./SVG/arrow-bold-up.svg');
  mask-image: url('./SVG/arrow-bold-up.svg');
}

.my-icon-moveDown {
  -webkit-mask-image: url('./SVG/arrow-bold-down.svg');
  mask-image: url('./SVG/arrow-bold-down.svg');
}

.my-icon-collapse {
  -webkit-mask-image: url('./SVG/chevron-down.svg');
  mask-image: url('./SVG/chevron-down.svg');
}

.my-icon-expand {
  -webkit-mask-image: url('./SVG/plus.svg');
  mask-image: url('./SVG/plus.svg');
}
.my-icon-drag {
  -webkit-mask-image: url('./SVG/hand.svg');
  mask-image: url('./SVG/hand.svg');
}
.my-icon-info {
  -webkit-mask-image: url('./SVG/help.svg');
  mask-image: url('./SVG/help.svg');
}
.my-icon-close {
  -webkit-mask-image: url('./SVG/cross.svg');
  mask-image: url('./SVG/cross.svg');
}

.my-icon-edit {
  -webkit-mask-image: url('./SVG/pencil.svg');
  mask-image: url('./SVG/pencil.svg');
}

.my-icon-save {
  -webkit-mask-image: url('./SVG/save.svg');
  mask-image: url('./SVG/save.svg');
}

.my-icon-switcher {
  -webkit-mask-image: url('./SVG/chevron-down.svg');
  mask-image: url('./SVG/chevron-down.svg');
}
.my-icon-upload {
  -webkit-mask-image: url('./SVG/upload.svg');
  mask-image: url('./SVG/upload.svg');
}

.my-icon-important {
  -webkit-mask-image: url('./SVG/important.svg');
  mask-image: url('./SVG/important.svg');
}

.my-icon-plus-square {
  -webkit-mask-image: url('./SVG/plus-square.svg');
  mask-image: url('./SVG/plus-square.svg');
}

.my-icon-dash-square {
  -webkit-mask-image: url('./SVG/dash-square.svg');
  mask-image: url('./SVG/dash-square.svg');
}
.my-icon-copy {
  -webkit-mask-image: url('./SVG/copy.svg');
  mask-image: url('./SVG/copy.svg');
}
.my-icon-check {
  -webkit-mask-image: url('./SVG/check.svg');
  mask-image: url('./SVG/check.svg');
}
